
h1 {
    text-align: center;
}




h2 {
    text-align: center;
}

.region-africa {
    color: darkblue;

}

.region-americas {
    color: green;
}

.region-asia {
    color: red;
}

.region-europe {
    color: yellow;
}

.region-oceania {
    color: rebeccapurple;
}

.region-default {
    color: dimgrey;
}

ul {
    display:flex;
    flex-wrap: wrap;
    width: 100px;
    height: auto;

}
.button-data {
    display: flex;
  justify-content: center;


}

.button-information {
    display: flex;
    justify-content: center;

}
.country-information {
    display: flex;
    justify-content: center;
    list-style: none;
}